#display
{
	margin: auto;
	margin-top: 40px;
	margin-bottom: 30px;
	width: 252px;
}
.space
{
	width: 80px;
	height: 60px;
	border: 2px solid #000;
	float: left;
	text-align: center;
	padding-top: 20px;
}
.board
{
	width: 252px;
	height: 252px;
	margin: auto;
}